@font-face {
   font-family: 'CeraPro-Black';
   font-display: swap;
   src: url('file:///C:/Users/rodri/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-30_215358/fonts/CeraPro-Black/font.ttf');
}
